spring:
  config:
    activate:
      on-profile: ci

  datasource:
    url: jdbc:h2:mem:ci_db;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false

  cache:
    type: none  # CI 환경에서는 Redis 비활성화

  ai:
    openai:
      api-key: "ci-dummy-key" # CI 환경에서만 사용할 더미 값
    huggingface:
      chat:
        api-key: "ci-dummy-key" # CI 환경에서만 사용할 더미 값

  mail:
    host: smtp.gmail.com
    port: 587
    username: "ci-dummy-key"
    password: "ci-dummy-key"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: ${JWT_SECRET}
  access-exp: 3600000
  refresh-exp: 604800000
